<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GroceryStoreApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>309A844A1F79CC4600AACF26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309A845E1F79CC4700AACF26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>309A84691F79CC4700AACF26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
